<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitch App</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <!-- <div class="w-screen h-screen bg-red-200 flex items-center align-center">
        <p class="text-2xl font-semibold">Welcome!</p>
    </div> -->
    {% block content %}
    {% endblock %}
</body>
</html>